body {background-image: url("./background22.jpeg"); background-repeat: no-repeat; background-size: 100%;}
h1 {color: #CE2525; text-align: center; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 60px; font-weight: 900;}
p {text-align: center; font-size: 24px;}
th {text-indent: 475px;}
td {font-weight: bold;}
button {border-radius: 20px; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; color: #CE2525; font-size: 20px; font-weight: bold; font-family: Georgia, 'Times New Roman', Times, serif;}
