body {background-image: url("./background23.jpeg"); background-repeat: no-repeat; background-size: 100%;}
h1 {color: #F05A28;text-align: center; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 42px; font-weight: 900;}
h2 {text-align: center; font-size: 22px; font-weight: lighter;}
h3 {color: #557571; text-indent: 250px; font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif;}
h4 {text-indent: 1000px; font-weight: 400; font-size: 18px;}
th {text-indent: 250px; text-align: left; font-size: 18px;}
td {font-size: 18px;}